@use 'styles/common.scss' as *;

.education {
  padding: 25px;
  width: 705px;
  color: $optional-color-green;
}

.education-title {
  text-align: center;
}

.education-source {
  padding: 20px 15px;
  text-align: center;
}

.education-source-title {
  font-size: 18px;
}

.education-sources-container {
  display: flex;
  gap: 25px;
}

.education-source-title {
  padding: 5px 0;
}

.rss-link {
  display: block;
}

.certificate-link {
  color: $optional-color-lightaqua;
  text-shadow: 0 0 10px $optional-color-lightaqua;
}

.certificate-link::after {
  background-color: $optional-color-lightaqua;
  box-shadow: 0 0 10px $optional-color-lightaqua;
}

.certificate-link:hover::after,
.certificate-link:focus::after {
  background-color: $optional-color-lightaqua;
  box-shadow: 0 0 10px $optional-color-lightaqua;
}

.education-list-item {
  padding: 10px 0;
  list-style: '❯';
}

.education-list-title {
  font-size: 17px;
}

.period {
  color: rgba($optional-color-green, 0.5);
}

.side-source-title {
  margin-bottom: 10px;
}

.side-source-area {
  color: rgba($optional-color-green, 0.8);
}
