$section-background: #10141f;
$optional-color-green: #C7F464;
$optional-color-lightaqua: aqua;
$optional-color-aqua: #40c0cb;
$optional-color-violet: #f732a6;
$optional-color-pink: #fc49ff;
$shadow-content: rgba(17, 236, 17, 0.8);
