@use 'styles/common.scss' as *;

.hard-skills-education-container,
.soft-skills-about-container {
  display: flex;
  justify-content: space-around;
  @include media-tablet {
    flex-direction: column;
    align-items: center;
  }
}
