@use 'styles/common.scss' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 25;
  padding: 35px 0;
  background-color: rgba($section-background, 0.8);
  color: $optional-color-green;
  transition: 0.5s;
  @include media-small-tablet {
    padding: 10px 0;
  }
}

.header.menu-active {
  top: 20px;
  background-color: transparent;
}
