@use 'styles/common.scss' as *;

.link {
  position: relative;
  text-decoration: none;
  color: $optional-color-green;
  text-shadow: 0 0 10px $shadow-content;
}

.link::after {
  position: absolute;
  content: "";
  width: 0px;
  bottom: -10px;
  right: 0px;
  height: 1px;
  background-color: $optional-color-green;
  box-shadow: 0 0 10px $shadow-content;
  transition: 0.5s;
}

.link:hover::after,
.link:focus::after {
  width: 100%;
  left: 0;
  background-color: $optional-color-green;
  box-shadow: 0 0 10px $shadow-content;
  transition: 0.5s;
}
