* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'smooch';
  src: url(../public/assets/fonts/SmoochRegular.ttf)
}

@font-face {
  font-family: 'twister';
  src: url(../public/assets/fonts/Twister.ttf)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10141f;
  background-image: url(../public/assets/cv-img/background-image.jpg);
  background-position: center;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-title {
  font-family: 'twister';
  font-size: 35px;
  letter-spacing: 1.5px;
  font-weight: 400;
}
