@use 'styles/common.scss' as *;

.soft-skills {
  padding: 25px;
  width: 705px;
  color: $optional-color-green;
  @include media-small-tablet {
    width: auto;
  }
}

.soft-skills-title {
  text-align: center;
}

.soft-skills-list {
  padding: 20px 70px;
  @include media-small-tablet {
    padding: 20px 30px;
  }
  @include mobile {
    padding: 10px 0;
  }
}

.soft-skills-list-item {
  padding: 5px;
  color: $optional-color-lightaqua;
  list-style: '❯';
}

.soft-skills-item-description {
  color: $optional-color-green;
}
