@use 'styles/common.scss' as *;

.about {
  padding: 25px;
  width: 705px;
  color: $optional-color-green;
  @include media-small-tablet {
    width: auto;
  }
  @include mobile {
    padding: 15px 0;
  }
}

.about-title {
  text-align: center;
}

.about-info,
.about-interests {
  padding: 20px 50px;
  line-height: 1.5;
  @include media-small-tablet {
    padding: 20px 30px;
  }
}
