@use 'styles/common.scss' as *;

.about {
  padding: 25px;
  width: 705px;
  color: $optional-color-green;
}

.about-title {
  text-align: center;
}

.about-info,
.about-interests {
  padding: 20px 50px;
  line-height: 1.5;
}
