@use 'styles/common.scss' as *;

.projects-section {
  padding: 25px;
  color: $optional-color-green;
}

.projects-section-title {
  text-align: center;
}

.projects-container {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project {
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  text-align: center;
  list-style: '❯';
}

.project-description,
.project-features {
  color: rgba($optional-color-green, 0.7);
}

.project-description,
.project-features,
.project-stack {
  padding-left: 10px;
}

.project-stack-info {
  color: $optional-color-lightaqua;
}

.preview-img {
  width: 100px;
  box-shadow: 0 10px 15px rgba($optional-color-aqua, 0.5);
  transition: 0.5s;
}

.preview-img:hover {
  box-shadow: 0 15px 20px rgba($optional-color-aqua, 0.7);
  transition: 0.5s;
}
