@use 'styles/common.scss' as *;

.footer {
  padding: 35px;
  background-color: $section-background;
  color: $optional-color-green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
